<section>
        <form>
              <div class="form-row">
                <div class="form-group col-md-6 ">
                   <label for="inpuhero{{number}}">hero{{number}}</label>
                   <input type="text" class="form-control" id="hero{{number}}">
                   <button style="margin-left:50%;" type="submit" class="btn btn-info">Valider</button>
                   <span></span>
                </div>
            </div>
       </form>
  </section>
  
     
 