<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <title>Acceuil</title>
{{>bootstrap}} 
</head>

<body>
 {{>navbar}}
 <br>
 
 {{>form numbre='one' style="float-left=0%"}}
 {{>form number='two' style="float-left=0%"}}
 

 <button class="btn btn-danger col-md-4" style="margin-left:30%" id="fight">FIGHT</button>
 <script>
   'use strict';
    const button=document.querySelector('#fight');

    button.addEventListener('click',function(e){
      e.preventDefault();
      const heroIdone=70;
      const heroIdtwo=200;
      const body={
        keyHeroOne:heroIdone,
        keyHeroTwo:heroIdtwo
      }
      fetch('/fight',{
        method:"POST",
         body:JSON.stringify(body),
         headers:{
           "Content-Type":"application/json"
           }
         }).then(response=>
             response.json()
         ).then(data=>
           console.log(data)
         ).catch(function(err){
           console.log('error 404:telechargement des données \n')
         });

      })

 </script>

<script src="js/scrypt.js" defer></script>
</body>
</html>